---
layout: page
title: Arquivo
description: Arquivo de artigos publicados.
---

<div id="search">
  <div>
    <label class="search-label" for="search">Busca</label>
    <input :value="search" @input="update" type="text">
  </div>
  <ul class="search-results">
    <li :key="post.url" v-for="post of filteredPosts">
      <a :href="post.url">
        <time :datetime="post.dateXml">
          ${post.date}
        </time>
        <p
          v-html="highlight(post.title)" 
          :style="{ paddingBottom: titleContainsQuery(post.title) ? '0.3rem' : '0' }"
        ></p>
      </a>
    </li>
  </ul>
  <p v-if="!filteredPosts.length && !error">
    Nenhum resultado encontrado, tente outro termo.
  </p>
  <p v-if="error">
    Um erro aconteceu durante a requisição.
    <a @click="fetchFromApi" href="#">Tentar novamente?</a>
  </p>
</div>

<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script type="text/javascript">
  new Vue({
    el: '#search',
    delimiters: [
      '${', '}'
    ],
    data: function () {
      return {error: false, search: '', posts: []};
    },
    computed: {
      filteredPosts: function () {
        if (this.search === '') {
          return this.posts;
        }

        const fields = ['title', 'category'];
        const searchLower = this.search.toLowerCase();
        return this.posts.filter(x => {
          for (const field of fields) {
            if (x[field].toLowerCase().includes(searchLower)) {
              return true;
            }
          }

          return false;
        });
      }
    },
    methods: {
      titleContainsQuery: function (title) {
        if (this.search === '') return false;
        
        return title
          .toLowerCase()
          .includes(this.search.toLowerCase())
      },
      highlight: function (title) {
        if (this.search === '') return title;

        return title
          .replace(new RegExp(this.search, 'gi'), match => {
            return `<span class="search-ocurrence">${match}</span>`;
          })
      },
      update: _.debounce(function (e) {
        this.search = e.target.value;
      }, 300),
      getQueryVariable: function (variable, dft) {
        const query = window
          .location
          .search
          .substring(1);
        const vars = query.split('&');

        for (var i = 0; i < vars.length; i = i + 1) {
          const pair = vars[i].split('=');

          if (pair[0] === variable) {
            return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
          }
        }
        return dft;
      },
      fetchFromApi: async function () {
        try {
          this.error = false;
          const response = await axios.get('/search.json');
          Vue.set(this, 'posts', response.data);
        } catch (error) {
          this.error = true;
        }
      }
    },
    mounted: function () {
      this.search = this.getQueryVariable('query', '');
      this.fetchFromApi();
    }
  });
</script>