.highlight
pre.highlight
  background: #282c34;
  color: #abb2bf;

.highlight
  pre
    background: #282c34;

    &.highlight code
      color: #abb2bf;

  .hll
    background-color: #282c34;

  .c,     // Comment
  .cm,    // Comment.Multiline
  .cp,    // Comment.Preproc
  .c1,    // Comment.Single
  .cs     // Comment.Special
    color: #5c6370;
    font-style: italic;
      
  // Error 
  .err      
    color: #960050;
    background-color: #1e0010;

  .k,     // Keyword
  .kc,    // Keyword.Constant
  .kd,    // Keyword.Declaration
  .kn,    // Keyword.Namespace
  .kp,    // Keyword.Pseudo
  .kr,    // Keyword.Reserved
  .kt     // Keyword.Type
    color: #c678dd;

  .nb,    // Name.Builtin
  .nc,    // Name.Class
  .nd,    // Name.Decorator
  .ni,    // Name.Entity
  .ne,    // Name.Exception
  .nl,    // Name.Label
  .nv,    // Name.Variable
  .no,    // Name.Constant
  .py,    // Name.Property
  .bp,    // Name.Builtin.Pseudo
  .vc,    // Name.Variable.Class
  .vg     // Name.Variable.Global
    color: #D19A66;

  .nf     // Name.Function
    color: #61AFEF;

  .nn,    // Name.Namespace
  .nx     // Name.Other
    color: #abb2bf;

  .nt,    // Name.Tag
  .vi     // Name.Variable.Instance
    color: #e06c75;

  .w      // Text.Whitespace
    color: #f8f8f2;

  .sr,    // Literal.String.Regex
  .ss     // Literal.String.Symbol
    color: #56b6c2;

  .se     // Literal.String.Escape
    color: #56B6C2;
    
  .n,     // Name
  .p      // Punctuation
    color: #abb2bf;

  .o      // Operator
    color: #C678DD;

  .m,     // Literal.Number  
  .na,    // Name.Attribute
  .mf,    // Literal.Number.Float
  .mh,    // Literal.Number.Hex
  .mi,    // Literal.Number.Integer
  .mo,    // Literal.Number.Oct
  .il     // Literal.Number.Integer.Long
    color: #d19a66;

  .ge     // Generic.Emph
    font-style: italic;

  .ow,   // Operator.Word
  .gs    // Generic.Strong
    font-weight: bold;

  .gu    // Generic.Subheading
    color: #75715e;

  .gd    // Generic.Deleted
    color: #f92672;

  .gi    // Generic.Inserted
    color: #a6e22e

  .l,     // Literal 
  .ld,    // Literal.Date
  .s,     // Literal.String
  .sb,    // Literal.String.Backtick
  .sc,    // Literal.String.Char
  .sd,    // Literal.String.Doc
  .s2,    // Literal.String.Double
  .sh,    // Literal.String.Heredoc
  .si,    // Literal.String.Interpol
  .sx,    // Literal.String.Other  
  .s1     // Literal.String.Single  
    color: #98C379;