---
layout: page
title: Arquivo
permalink: /archive/
---

<div id="search">
  <div class="control">
    <input type="search" placeholder="Busque entre os posts…" 
      :value="search" @input="update">
    <span class="icon is-right">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <ul class="minimal">
    <li v-for="post of filteredPosts" :key="post.url">
      <time class="archive" :datetime="post.dateXml">
        ${post.date}
      </time>
      &mdash;
      <a :href="post.url">
        ${post.title}
      </a>
    </li>
  </ul>
  <p v-if="!filteredPosts.length">
    Nenhum resultado encontrado, tente outro termo.
  </p>
</div>

<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script type="text/javascript">
  new Vue({
    el: '#search',
    delimiters: ['${', '}'],
    data: function () {
      return {
        search: '',
        posts: []
      }
    },
    computed: {
      filteredPosts: function() {
        if (this.search === '')
          return this.posts;

        let titleLower;
        let categoryLower;
        const searchLower = this.search.toLowerCase();
        return this.posts
          .filter(x => {
            titleLower = x.title.toLowerCase();
            categoryLower = x.category.toLowerCase();
            return titleLower.includes(searchLower) ||
              categoryLower.includes(searchLower);
          });
      }
    },
    methods: {
      update: _.debounce(function (e) {
        this.search = e.target.value;
      }, 300),
      getQueryVariable: function (variable, dft) {
        const query = window.location.search.substring(1);
        const vars = query.split('&');

        for (var i = 0; i < vars.length; i++) {
          const pair = vars[i].split('=');

          if (pair[0] === variable) {
            return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
          }
        }
        return dft;
      },
      fetchFromApi: async function () {
        try {
          const response = await axios.get('/search.json');
          Vue.set(this, 'posts', response.data);
        } catch (error) { 
          console.error(error);
        }
      }
    },
    mounted: function () {
      this.search = this.getQueryVariable('query', '');
      this.fetchFromApi();
    }
  });
</script>