---
layout: page
---

{% assign count = 0 %}
{% for post in site.posts %}
  {% assign count = count | plus: 1 %}
  <div class="article">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="article-header">
        {{ post.date | date: "%b" }}
        <span class="number">{{ post.date | date: "%d" }}</span>,
        <span class="number">{{ post.date | date: "%Y" }}</span>
        •
        <span class="number">
          {% include read-time.html content=post.content %}
        </span>
        min. leitura
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-excerpt">
        {% if post.description != "" %}
          {{ post.description }}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
      </p>
    </a>
  </div>
  {% if count == 10 %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="articles-navigation">
  <a href="{{ '/archive/' | prepend: site.baseurl }}">Todos os artigos →</a>
</div>