---
layout: page
title: Séries
permalink: /series/
---

{% for tag in site.categories %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<ul class="minimal" itemscope itemtype="https://schema.org/Blog">
  {% assign pages_list = tag[1] %}
  {% for post in pages_list reversed %}
  {% if post.title != null %}
  {% if group == null or group == post.group %}
  <li>
    <time class="archive" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: '%d/%m/%Y' }}
    </time>
    &mdash;
    <a href="{{ post.url | prepend: site.baseurl }}">
      {{ post.title }}
    </a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
</ul>
{% endfor %}