---
layout: minimal
title: "#Tags"
permalink: /tags/
description: "Procure por sua #tag favorita."
---

<div class="buttons">
  {% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <a href="#{{ tag | slugify }}" class="button is-primary is-outlined">{{ tag }}</a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
    <a href="#{{ tag[0] | slugify }}" class="button is-primary is-outlined">{{ tag[0] }}</a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div>

{% for tag in site.tags %}
<h2 class="tag-title has-text-weight-light" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<ul class="post-list" itemscope itemtype="http://schema.org/Blog">
  {% assign pages_list = tag[1] %}
  {% for post in pages_list reversed %}
    {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ site.baseurl }}{{ post.url }}" itemprop="mainEntityofPage">
          {{ post.title }}
          <span class="post-date">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d/%m/%Y" }}</time>
          </span>
        </a>
        {% if post.cover %}
        <meta itemprop="image" content="{{ post.cover }}">
        {% else %}
        <meta itemprop="image" content="{{ '/assets/img/logo-header.png' | prepend: site.baseurl | prepend: site.url }}">
        {% endif %}
        <meta itemprop="headline" content="{{ post.title }}">
        <meta itemprop="dateModified" content="{{ post.date | date_to_xmlschema }}">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="{{ site.username }}">
          <meta itemprop="sameAs" content="{{ site.baseurl | prepend: site.url }}">
        </span>
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="{{ site.username }}">
          <meta itemprop="sameAs" content="{{ site.baseurl | prepend: site.url }}">
        </span>
      </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
</ul>
{% endfor %}