{% if site.disqus and page.comments != false %}
<div class="comments">
  <div id="comments"></div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ site.baseurl }}';
      this.page.identifier = '{{ page.url }}'
    };
    
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Por favor, habilite o JavaScript para visualizar os comentários.
  </noscript>
</div>
{% endif %}