<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  {% seo %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-152x152.png"/>

  <!-- Android Chrome Theme Color -->
  <meta name="theme-color" content="#6a7fa8">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/init.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>
</head></head>