<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.cover %}
  <meta property="twitter:image:src" content="{{ page.cover }}">
  {% endif %}

  <!-- Social: Facebook/ Open Graph -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
  {% if page.cover %}
  <meta property="og:image" content="{{ page.cover }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Social: Google+ / Schema.org -->

  <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.cover %}
  <meta itemprop="image" content="{{ page.cover }}"/>
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-152x152.png" />

  <!-- Android Chrome Theme Color -->
  <meta name="theme-color" content="#e81c4f">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
</head>