<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.cover %}
  <meta property="twitter:image:src" content="{{ page.cover }}">
  {% else %}
  <meta property="og:image" content="{{ '/assets/img/logo-header.png' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Social: Facebook/ Open Graph -->
  <meta property="og:locale" content="pt_BR">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
  {% if page.cover %}
  <meta property="og:image" content="{{ page.cover }}">
  {% else %}
  <meta property="og:image" content="{{ '/assets/img/logo-header.png' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.layout == 'post' %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{{ '/sobre' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="article:section" content="{{ page.category }}">
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}

  <!-- Social: Google+ / Schema.org -->

  <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.cover %}
  <meta itemprop="image" content="{{ page.cover }}"/>
  {% else %}
  <meta property="og:image" content="{{ '/assets/img/logo-header.png' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/img/icon/apple-touch-icon-152x152.png" />

  <!-- Android Chrome Theme Color -->
  <meta name="theme-color" content="{% if page.main_category %}{% include theme_color.html %}{% else %}#0366d6{% endif %}">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
</head>