<div class="section is-paddingless-horizontal post-header">
  <!--<p class="post-info">
    {% if page.date %}
    <span class="icon">
      <i class="far fa-calendar-alt"></i>
    </span>
    <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
      {% include post_date.html date=page.date %}
    </time>
    {% endif %}
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    <span title="Tempo estimado de leitura">
      {% include read_time.html %}
    </span>
  </p>-->
  <div class="post-category">
    <a href="{{ site.baseurl }}/category/{{ page.main_category }}">
      {{ page.categories }}
    </a>
  </div>
  <meta itemprop="headline" content="{{ page.title }}">
  <h1 itemprop="name" class="title is-size-3-mobile is-size-2">{{ page.title }}</h1>
  {% if page.description %}
  <h2 itemprop="description" class="post-subtitle subtitle is-size-5-mobile is-size-4 has-text-grey">{{ page.description }}</h2>
  {% endif %}
  <div class="post-metadata">
    <span class="post-date">
      <i class="far fa-calendar-alt"></i>
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {% include post_date.html date=page.date %}
      </time>
    </span>
    {% if site.disqus and page.comments != false %}
    <a class="post-comments" href="#comments" title="Comentários">
      <i class="far fa-comment"></i>
      0
    </a>
    {% endif %}
    <span class="post-reading-time">
      <i class="far fa-clock"></i>
      {% include read_time.html %}
    </span>
  </div>
</div>