<section class="section is-paddingless-horizontal">
  <div class="hero is-small is-white has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h3 class="title is-5">Compartilhe</h3>
        <div class="social-medias is-paddingless">
          <a aria-label="Compartilhar no Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title | replace: "#", "%23" }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{ tag }},{% endfor %}"
            class="has-text-twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;" title="Compartilhar no Twitter">
            <span class="icon is-medium">
              <i class="fab fa-twitter fa-2x"></i>
            </span>
          </a>
          <a aria-label="Compartilhar no Facebook" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
            class="has-text-facebook" onclick="window.open(this.href, 'facebook-share', 'width=580,height=296'); return false;" title="Compartilhar no Facebook">
            <span class="icon is-medium">
              <i class="fab fa-facebook-f fa-2x"></i>
            </span>
          </a>
          <a aria-label="Compartilhar no Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
            class="has-text-gplus" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530'); return false" title="Compartilhar no Google Plus">
            <span class="icon is-medium">
              <i class="fab fa-google-plus fa-2x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>