#search {
  display: block;
}

#search label {
  margin-top: 1em;
  display: block;
  @include small-caps();
}

#search input {
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  width: 200px;
  font-size: 70%;
  line-height: inherit;
  margin: 0;
}

#search .search-results {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0;
  font-size: 90%;
}

#search .search-results li {
  padding-left: 0;
  margin-bottom: 0.2rem;
}

#search .search-results li a {
  border-bottom: none;

  &:hover p {
    border-bottom: 1px solid $color-border;
  }
}

#search .search-results li a p {
  display: table;
  margin-top: 0;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid transparent;
}

#search .search-results li a p .search-ocurrence {
  background: #ffdc74;
  color: #212529;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  font-weight: 700;
  padding: 0.05em 0.4em;
  border-radius: 3px;
}

#search .search-results li a time {
  //color: $color-time;
  @include small-caps();
  font-feature-settings: 'tnum' 1;
}

#search > p {
  font-size: 90%;
}
