.aside {
  min-width: 21rem;
  max-width: 21rem;
  margin-right: 1rem;
  font-size: 80%;
  padding: 1rem 2rem 1rem 1rem;
}

.aside .post-author-avatar {
  width: 60px;
  height: 60px;
}

.aside-title {
  font-weight: 700;
  margin: 0.5em 0em;
}

.aside-menu {
  list-style-type: none;
  padding: 1em 0em;
}

.aside-menu li {
  margin-left: -0.5em;
  padding-left: 0em;
}

.aside-menu li a {
  font-weight: 700;
  border-left: 1px solid transparent;
  border-bottom: none;
  padding: 0.5em;

  &:hover {
    border-left: 1px solid lightgrey;
  }

  &.active {
    border-left: 1px solid $color-border;
  }
}

.aside-social {
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aside-social a {
  margin-bottom: 0.5em;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-border;
  }
}

@media only screen and (max-width: 720px) {
  .aside {
    margin-right: 0px;
    padding-right: 1rem;
  }

  .aside a[href='/']:first-of-type {
    text-align: center;
  }

  .aside .post-author-avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
  }

  .aside-title {
    font-size: 160%;
    margin-bottom: 0px;
  }

  .aside-description {
    display: none;
  }

  .aside-menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.8rem;
    justify-content: center;
  }

  .aside-menu li:not(:first-child) {
    margin-left: 0.3rem;
  }

  .aside-menu li a {
    border-left: none;
    border-bottom: 2px solid transparent;
    font-weight: 600;

    &:hover {
      border-left: none;
      border-bottom: 2px solid lightgrey;
    }

    &.active {
      border-left: none;
      border-bottom: 2px solid $color-border;
    }
  }
}
