.post {
  max-width: $post-width;
  margin: 0px auto;
  padding: 1em;
}

.post-navigation {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid $color-border;
  @include small-caps();

  & > span,
  & a {
    padding: 0.5em 0px;
  }

  & > span > span.number {
    font-size: 80%;
    font-weight: 700;
  }
}

.post-title {
  width: 100%;
  text-align: center;
  margin: 2.8rem 0px;
}

.post-author {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 80%;
  border-bottom: 1px solid $color-border;
  border-top: 1px solid $color-border;
  padding: 1em;
}

.post-author-avatar {
  border-radius: 50%;
}

.post-author-bio {
  padding-left: 1em;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.post-links {
  margin-bottom: 2em;
  @include small-caps();
}

.post-links ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.post-links ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  &.next {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: right;
    padding-left: 1em;
  }

  &.prev {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
}

.post-links ul li a {
  display: inline-block;
  padding: 0.5em 0px;
  border-bottom: none;
}

ol#markdown-toc {
  margin-top: 1.8rem;

  li {
    padding-left: 0.7em;
  }
}

.figure-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: visible;
  max-width: 100%;

  &.is-spaced img + img {
    margin-left: 0.5rem;
  }

  img {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}
