---
layout: default
---

<main class="section posts" role="main" itemprop="mainContentOfPage">
    <div class="container" itemscope itemtype="http://schema.org/Blog">
      <div class="columns is-mobile is-multiline" id="posts" itemprop="mainEntityOfPage">
        {% for post in site.posts %}
          {% if post.category == page.category %}
          <div class="column is-full-mobile is-one-third-tablet">
            <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost" class="card is-fullheight is-shady">
              <span class="card-ribbon is-{{ post.category }}">
                <a href="{{ site.baseurl }}/category/{{ post.category }}">
                  <span>{{ post.category }}</span>
                </a>
              </span>
              
              <div class="card-image">
                {% if post.cover %}
                <meta itemprop="image" content="{{ post.cover }}">
                {% else %}
                <meta itemprop="image" content="{{ '/assets/img/logo-header.png' | prepend: site.baseurl | prepend: site.url }}">
                {% endif %}
                <figure class="image is-2by1">
                  {% if post.cover %}
                  <img src="{{ post.cover }}" alt="Capa do post">
                  <div class="background"></div>
                  {% else %}
                  <div class="card-header is-{{ post.category }}">
                    <span>{{ post.category }}</span>
                  </div>
                  {% endif %}
                </figure>
              </div>
              
              <div class="card-content" itemprop="mainEntityOfPage">
                <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" class="has-text-grey is-size-7 date">
                  {% include post_date.html date=post.date %}
                </time>
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <p itemprop="name" class="title is-5 has-text-{{ post.type }}">{{ post.title }}</p>
                  <p class="subtitle is-6">{{ post.description }}</p>
                </a>
                <div class="field is-grouped tags">
                  {% for tag in post.tags %}
                  <p class="control">
                    <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="button is-{{ post.categories }} is-outlined">
                      {{ tag }}
                    </a>
                  </p>
                  {% endfor %}
                </div>
              </div>
    
              <meta itemprop="headline" content="{{ post.title }}">
              <meta itemprop="dateModified" content="{{ post.date | date_to_xmlschema }}">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="{{ site.username }}">
                <meta itemprop="sameAs" content="{{ site.baseurl | prepend: site.url }}">
              </span>
              <span itemprop="publisher" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="{{ site.username }}">
                <meta itemprop="sameAs" content="{{ site.baseurl | prepend: site.url }}">
              </span>
            </article>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>