---
layout: compress
---
<!DOCTYPE html>
<html class="has-navbar-fixed-top is-{{ page.main_category }}" lang="en" itemscope itemtype="http://schema.org/BlogPosting">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {% include svg-icons.html %}
    
    <article role="post" class="section is-paddingless" itemprop="mainEntityOfPage">
      <div class="container grid">    
        {% include post_header.html %}
      </div>
    
      <div class="grid content is-medium" itemprop="articleBody">
        {% if page.cover %}
        <figure class="grid-ml">
          <img src="{{ page.cover }}" alt="Capa do post">
          {% if page.cover_caption %}
          <figcaption>
            {{ page.cover_caption }}
          </figcaption>
          {% endif %}
        </figure>
        {% endif %}

        {{ content }}

        {% if page.download %}
        <div class="columns" style="padding: 3rem 0 0 0;">
          {% for link in page.download %}
          <div class="column">
            <a href="{{ link.file }}" class="button is-outlined is-fullwidth is-grey is-small is-rounded download">
              <span class="description has-text-grey">Download</span>
              <span class="link">{{ link.title }}</span>
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if page.external %}
        <div class="columns" style="padding: 3rem 0 0 0;">
          {% for link in page.external %}
          <div class="column">
            <a href="{{ link.url }}" class="button is-fullwidth is-{{ link.type }}">
              {{ link.title }}
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
      <meta itemprop="genre" content="{{ page.main_category }}">
      <meta itemprop="keywords" content="{{ page.tags | join: ',' }}">
      <meta itemprop="wordCount" content="{{ content | number_of_words }}">
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ site.title }}">
        <meta itemprop="sameAs" content="{{ site.baseurl | prepend: site.url }}">
      </span>
      
    </article>

    {% include share.html %}

    {% include author.html %}
    
    {% include disqus.html %}

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>