---
layout: default
---

<div class="content">
  <article class="post single">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {% include post_date.html date=page.date %}
    </time>

    <div class="body">
      {% if page.cover %}
      <figure>
        <img src="{{ page.cover }}" alt="Capa do post">
        {% if page.cover_caption %}
        <figcaption>
          {{ page.cover_caption }}
        </figcaption>
        {% endif %}
      </figure>
      {% endif %}
      {{ content }}
      <div class="meta">
        <p class="item">Tags</p>
        {% for tag in page.tags %}
        <a href="{{ '/tags' | prepend: site.baseurl }}#{{ tag }}" class="tag">
          <i class="fas fa-hashtag fa-xs"></i>
          {{ tag }}
        </a>
        {% endfor %}
      </div>
      <div class="breaker"></div>
      {% include disqus.html %}
    </div>
  </article>
</div>