// Typographic
$typographic-sans-font-family: 'Inter', -system-ui, system-ui, sans-serif;
$typographic-mono-font-family: Hack, 'SFMono-Regular', Menlo, 'Liberation Mono',
  Consolas, Courier, monospace;
$typographic-serif-font-family: 'Crimson Text', Constantia, 'Lucida Bright',
  Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif',
  'Liberation Serif', Georgia, serif;

$typographic-line-height: 1.4;
$typographic-font-size-df: 18px;

// Colors.
$color-primary: #6a7fa8;
$color-text: rgb(58, 52, 58);
$color-text-grey: rgb(216, 222, 233);
$color-time: #bbb;
$color-border: rgb(76, 86, 106);
$color-kbd-bg: rgb(236, 239, 244);
$color-code-bg: #eceff4;
$color-code-fg: #2e3440;
$color-selection: rgb(201, 236, 255);
$color-blockquote-bg: #dfe2e5;
$color-blockquote-fg: #6a737d;

$color-hl-bg: rgb(46, 52, 64);
$color-hl-sel: #3b4252;

// Post.
$post-width: 680px;
