@keyframes outline-fade-out {
  0% {
    background-color: #fe0;
    outline-color: #fe0;
    color: findColorInvert(#fe0);
  }

  90% {
    background-color: #fe0;
    outline-color: #fe0;
    color: findColorInvert(#fe0);
  }

  100% {
    background-color: default;
    outline-color: transparent;
    color: initial;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}