@viewport {
  width: device-width;
}

// Reset
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  width: 100%;
}

body {
  background: white;
  color: $dark;
  font-family: $family-sans-serif;
  line-height: 1.5;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  font-size: 14px;
  font-feature-settings: $family-sans-serif-features;
}

.breaker {
  clear: both;
}

p,
ul,
ol,
pre,
blockquote,
hr,
iframe {
  margin: 1em 0;
}

pre,
code,
tt,
kbd {
  font-family: $family-monospace;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $heading-color;
  margin: 1.618em 0 0.7em 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin-left: -2px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.35;
  margin-left: -0.5px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.35;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.35;
}

h5,
h6 {
  font-size: 18px;
  margin: 1em 0 -0.2em 0;
  letter-spacing: 0.01em;
}

// Links (a)
a[href] {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline rgba($primary, .6);
  }

  &[href^="#"]:hover {
    text-decoration-style: dashed;
  }

  .img {
    border: none;
    background: transparent !important;
  }
}

::selection {
  background-color: rgba($primary, .99);
  color: white;
}

// Links: headings
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  &, &:hover {
    color: inherit;
    background-color: transparent !important;
  }
}

nav, .content, footer {
  margin: 0 32px;
}

// Navigation
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  cursor: default;
  animation: 1s ease 0s normal forwards fade-in;

  * {
    cursor: default;
    font-size: .75rem;
  }

  h1 {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a[href] {
      font-size: 1.25rem;
      transform: translate3d(0, 0, 0);
      transition: 160ms transform ease-out;

      &::before {
        content: '{';
      }

      &::after {
        content: '}';
      }

      &::before, &::after {
        color: $primary;
        font-weight: 400;
      }

      &:hover {
        transform: translate3d(0, 2px, 0);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  a[href] {
    color: inherit;
    background: none;
    text-shadow: none;

    &:hover {
      color: black;
      background: none;
    }
  }

  ul {
    flex: 0 0 auto;
    margin: 0;
    text-align: left;
    display: flex;
    opacity: 0.1;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-child {
        margin-left: 0;
      }

      &:last-child a[href] {
        padding-right: 0;
      }

      .switch {
        padding-left: 0.8em;
      }

      a[href] {
        cursor: pointer;
        padding: 0 0.8em;
        color: $navigation-link-color;
        text-decoration: none;

        &:hover {
          color: black;
          text-decoration: none;
        }

        &.active {
          color: black;
        }
      }
    }
  }

  &.main ul, &:hover ul,
  &.main .switch, &:hover .switch {
    opacity: 1;
  }
}

// Main
#main {
  margin-bottom: 3em;
}

// Smartphone
@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 40px;
    margin-left: -1px;
  }

  h2 {
    font-size: 21px;
    letter-spacing: 0;
    margin-left: 0;
  }

  h3 {
    font-size: 17px;
    letter-spacing: 0;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  div.post h1 {
    margin-bottom: 0.7em !important;
  }

  nav ul {
    opacity: 1;
  }
}

// Other
img.profile-picture {
  border-radius: 50%;
}

// Colors
html {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      a[href] {
        color: $color;

        &:hover {
          text-decoration-color: rgba($color, .6);
        }
      }

      nav {
        a[href] {
          color: inherit;
        }

        h1 a[href]::before, 
        h1 a[href]::after {
          color: $color;
        }

        ul li a[href] {
          color: $navigation-link-color;

          &.active, &:hover {
            color: black;
          }
        }
      }

      div.meta .item,
      div.meta .tag {
        color: black;
      }
    }
  }
}