div.content, main.content {
  background: white;
  margin: 0 0 60px 0;
  display: block;
  // width: calc(100% - 64px);
  opacity: 0;
  animation: 1s ease .3s normal forwards fade-in;

  &.photo {
    padding: 0;
    margin: 0;
  }

  &:not(.sub) h1:first-child {
    margin-top: 0;
  }

  /*figure,
  img {
    display: block;
    max-width: 100%;
  }*/

  figure {
    margin: 3em 0;
    width: 100%;
    display: block;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .video-container-16by9 {
      @include aspect-ratio(16, 9);
    }

    figcaption {
      margin-top: 1em;
      font-size: 0.85em;
      text-align: center;
      color: $content-figcaption-color;
    }
  }

  iframe {
    border: none;
  }

  *[align="right"] {
    margin: 0 0 1em 1.5em;
  }

  *[align="left"] {
    margin: 0 1.5em 1em 0;
  }

  li {
    margin-left: 2em;
    margin-bottom: 0.2em;
  }

  ul {
    &.minimal {
      list-style: none;

      & > li {
        margin-left: 0;
      }
    }

    & > li {
      margin-left: 1.4em;
    }
  }

  blockquote {
    padding: 0.1em 2em;
    margin: 2.5em 0 1em 0;
    color: $content-blockquote-color;
    font-family: $content-blockquote-font;
    font-size: 1.4em;
    font-style: italic;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: -0.5em;
      color: #dee9ed;
      font-family: $content-blockquote-font;
      font-size: 4.3em;
    }

    &::before {
      content: "\201c";
      left: -7px;
    }

    &::after {
      content: "\201d";
      right: 8px;
    }

    code {
      font-style: normal;
      font-size: 0.7em;
    }

    cite {
      display: block;
      text-align: right;
      font-size: 0.8em;
      color: $content-blockquote-cite-color;

      &::before {
        content: "\2014\00a0";
        color: #dee9ed;
      }
    }

    p {
      margin: 0;
    }
  }

  div.quotation blockquote {
    margin-left: -30px;
  }

  pre,
  code {
    background-color: rgba(black, .04);
    border-radius: 3px;
    font-size: .93em;
  }

  pre > code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    
    &::before,
    &::after {
      letter-spacing: inherit;
      content: none;
    }
  }

  pre {
    line-height: 1.25;
    overflow-x: auto;
    color: $content-pre-color;
    padding: 16px;
    word-wrap: break-word;
    background-color: #282a36;
  }

  code {
    padding: 3px 0;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: '\00a0';
    }
  }

  div.highlighter-rouge {
    width: 100%;
    background-color: #282a36;
    color: #f8f8f2;
    position: relative;

    &[data-language] {
      padding-top: 1em;

      @each $name, $pair in $languages {
        $bg-color: nth($pair, 1);
        $color: nth($pair, 2);

        &.language-#{$name} {
          &::before {
            background-color: $bg-color;
            color: $color;
          }

          &::after {
            background-color: $bg-color;
          }
        }
      }

      &::before {
        content: attr(data-language);
        display: block;
        position: absolute;
        top: 6px;
        right: 20px;
        font-family: $family-monospace;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: .8px;
        text-transform: uppercase;
        text-align: right;
        color: #444;
        background: #ddd;
        padding: 0 10px 3px;
        border-radius: 0 0 3px 3px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: #ddd;
        height: 8px;
      }
    }
    
    a[href] {
      color: currentColor !important;
    }

    .highlight {
      padding: 16px;
      
      pre {
        background-color: transparent;
        margin: 0;
        padding: 0;
        display: block;
      }
    }
  }

  *:target {
    outline: 4px solid #fe0;
    animation: outline-fade-out 4500ms 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0;
  }

  center {
    margin: 2em 0;
    user-select: none;
    cursor: default;
    color: $content-center-color;
  }

  a.footnote {
    display: inline-block;
    padding: 0 1px;
    margin: 0 0 0 1px;
    background: inherit;
    text-shadow:none;
    color: $content-a-footnote-color;
    user-select: none;
    border-radius: 2px;
    border-left:1px solid rgba(black, .1);
    border-right:1px solid rgba(black, .1);

    &:hover {
      color: black;
      background: $content-a-footnote-hv-background;
    }

    &::before {
      letter-spacing: -0.3em;
      content: '\00a0';
    }

    &::after {
      letter-spacing: -0.3em;
      content: '\00a0';
    }
  }

  sup {
    vertical-align: super;
    font-size: 65%;
    padding: 0;
    margin: 0;

    &:target {
      background: none;
      animation: none;
      outline: none;

      a.footnote {
        background-color: #fe0;
      }
    }
  }

  div.footnotes {
    margin-top: 2em;
    border-top: 1px solid $content-a-footnote-hv-background;
    font-size: .9em;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      border: 1px solid $content-a-footnote-hv-background;
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -5px;
      background: #fff;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      box-shadow: #fff 0 0 0 5px;
    }

    li {
      color: $content-footnote-p-color;

      & > p {
        margin: 0;
      }

      &:target {
        background: $content-footnote-li-target-background;
        color: initial;
      }
    }
  }

  row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: auto;

    img {
      margin: 0;
    }
  }

  &.sub {
    margin-top: -50px;
    padding-top: 20px;
  }

  a[href].vglnk {
    color: currentColor;

    &:hover {
      text-decoration-color: currentColor;
    }
  }
}

body.noheader div.content {
  margin-top: 3em;

  & > h1:first-child + h2 {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
  }
}