.posts {
  width: 100%;
  max-width: 720px - 64px;
  margin: 0 auto;

  .end {
    padding-top: 40px;
  }
}

.content {
  display: flex;
}

a[href].post-excerpt {
  display: block;
  color: inherit;
  background: none;
  text-shadow: none;
  padding-bottom: 1px;
  margin-bottom: 1rem;

  &, a[href] {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    display: inline-block;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    
    &.is-#{$name}:hover h3 {
      background-color: $color;
      color: findColorInvert($color);
    }
  }

  &:hover {
    color: black;

    h3 {
      background-color: black;
      color: white;
    }

    .body {
      color: inherit;
    }
  }
}

h3.text {
  font-size: 18px;
  font-weight: 600;
}

time {
  display: inline;
  color: $post-time-color;
  white-space: nowrap;
}