$family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-monospace: 'Fira Mono', monospace;

/* Colors. */
$primary: #e81c4f;
$primary-invert: findColorInvert($primary);

$link: $primary;
$link-invert: $primary-invert;

$karaoke: royalblue;
$karaoke-invert: findColorInvert($karaoke);

$filme: #7dad16;
$filme-invert: findColorInvert($filme);

$ed: #6a7fa8;
$ed-invert: findColorInvert($ed);

$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);

$facebook: #3b5998;
$facebook-invert: findColorInvert($facebook);

$instagram: #517fa6;
$instagram-invert: findColorInvert($instagram);

$github: #333;
$github-invert: findColorInvert($github);

$myanimelist: #2e51a2;
$myanimelist-invert: findColorInvert($myanimelist);

$mydramalist: #00619d;
$mydramalist-invert: findColorInvert($mydramalist);

$kitsu: #f75239;
$kitsu-invert: findColorInvert($kitsu);

$gplus: #d34836;
$gplus-invert: findColorInvert($gplus);

$imdb: #f3ce00;
$imdb-invert: findColorInvert($imdb);

$whatsapp: #25d366;
$whatsapp-invert: findColorInvert($whatsapp);

$telegram: #0088cc;
$telegram-invert: findColorInvert($telegram);

$messenger: #0084ff;
$messenger-invert: findColorInvert($messenger);

@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "karaoke": ($karaoke, $karaoke-invert),
  "filme": ($filme, $filme-invert),
  "ed": ($ed, $ed-invert),
  "twitter": ($twitter, $twitter-invert),
  "facebook": ($facebook, $facebook-invert),
  "instagram": ($instagram, $instagram-invert),
  "github": ($github, $github-invert),
  "whatsapp": ($whatsapp, $whatsapp-invert),
  "telegram": ($telegram, $telegram-invert),
  "messenger": ($messenger, $messenger-invert),
  "myanimelist": ($myanimelist, $myanimelist-invert),
  "mydramalist": ($mydramalist, $mydramalist-invert),
  "kitsu": ($kitsu, $kitsu-invert),
  "gplus": ($gplus, $gplus-invert),
  "imdb": ($imdb, $imdb-invert)
);
$colors: map-merge($colors, $addColors);

$footer-background-color: #f2f2f2;