$family-sans-serif: 'Inter UI', -system-ui, system-ui, sans-serif;
$family-sans-serif-features: "calt" 1, "kern" 1, "liga" 1;
$family-monospace: 'IBM Plex Mono', 'SFMono-Regular', Menlo, 'Liberation Mono', Consolas, Courier, monospace;
$family-serif: 'IBM Plex Serif', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

/* Colors. */
$dark: #111;
$primary: #0366d6;
$link: $primary;
$karaoke: royalblue;
$filme: #7dad16;
$ed: #6a7fa8;
$js: #d8c20d;
$daily: #b31917;
$twitter: #55acee;
$facebook: #3b5998;
$instagram: #517fa6;
$github: #333;
$myanimelist: #2e51a2;
$mydramalist: #00619d;
$kitsu: #f75239;
$imdb: #f3ce00;
$whatsapp: #25d366;
$telegram: #0088cc;
$messenger: #0084ff;
$spotify: #1db954;

$colors: (
  "dark": ($dark),
  "karaoke": ($karaoke), 
  "filme": ($filme), 
  "ed": ($ed), 
  "js": ($js),
  "daily": ($daily),
  "twitter": ($twitter), 
  "facebook": ($facebook), 
  "instagram": ($instagram), 
  "github": ($github), 
  "whatsapp": ($whatsapp), 
  "telegram": ($telegram),
  "messenger": ($messenger), 
  "myanimelist": ($myanimelist), 
  "mydramalist": ($mydramalist), 
  "kitsu": ($kitsu), 
  "imdb": ($imdb), 
  "spotify": ($spotify)
);

// Headings
$heading-color: #010101;

// Navigation
$navigation-link-color: #aaa;

// Posts
$post-time-color: #bbb;

// Content
$content-blockquote-color: #345;
$content-blockquote-font: $family-serif;
$content-pre-color: #f8f8f2;
$content-center-color: #ccc;
$content-a-footnote-color: #666;
$content-a-footnote-hv-background: #eee;
$content-footnote-p-color: #999;
$content-footnote-li-target-background: #ffc;
$content-figcaption-color: #aaa;

// Post
$post-actions-color: #bbb;